
@media screen and (max-width: 1230px) {
    
    #formulario__fieldset {
        margin: 0 auto;
        max-width: 800px;
    }
}

@media screen and (max-width: 830px) {
    
    #formulario__fieldset {
        justify-content: center;
    }

    .campo {
        max-width: 500px;
    }
}

@media screen and (max-width: 500px) {
    #formulario__fieldset {
        padding: 10px;
    }
}
