
@media screen and (max-width: 1024px) {
    
    div.container--vidio iframe {
        height: 50vh;
    }
}

@media screen and (max-width: 768px) {

    div.container--vidio iframe {
        height: 218px;
        width: 418px;
    }
}

@media screen and (max-width: 668px) {
    
    #main_image {
        background: no-repeat center/100% url('../../imgs/atividades_tod/principal_escolar.png');
        height: 245.2px;
    }
}

@media screen and (max-width: 468px) {

    div.container--vidio iframe {
        height: 218px;
        width: 100%;
    }
}
