
@import url('../../reset.css');
@import url('../../rodape.css');
@import url('../../cabecalho.css');
@import url('../../menu_mobile.css');
@import url('../componentes_comuns/list.css');
@import url('../componentes_comuns/botao.css');
@import url('../componentes_comuns/plus_gap.css');
@import url('../componentes_comuns/disc_list.css');
@import url('../componentes_comuns/numeric_list.css');
@import url('../componentes_comuns/container_lists.css');
@import url('../componentes_comuns/base_atividades_escolares.css');

.container--vidio h2 {
    margin-bottom: 10px;
    font-weight: 500;
}

.container--vidio iframe {
    height: 30em;
    width: 55em;
}

.container--lists > h4 {
    font-weight: 500;
}
