
@import url("../../reset.css");
@import url("../../cabecalho.css");
@import url("../../rodape.css");
@import url("../../menu_mobile.css");
@import url("botao.css");

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.hidden2 {
    display: none;
}

.hidden {
    position: absolute;
    left: -999999px;
}

.container {
    margin: 32px auto;
    width: 93%;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding: 0 10px 0 10px;
}

.title {
    color: #0BB3D9;
    font-weight: 600;
}

.primary_title {
    font-size: xx-large;
}

.main_image {
    height: 509.2px;
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.secondary_title {
    font-size: x-large;
}

.description {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.third_title {
    font-size: large;
}

.credits {
    margin: 20px auto;
}

.credits .disc_list li {
    margin-top: 5px;
}
