.share {
    text-align: center;
}

.share-button{
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #F86645;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: 600;
}

.share-button:hover {
    background-color: #F86645;
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho ao passar o mouse */
}

/* Estilização para o modal */

.window-container {
    display: flex;
    width: auto;
    max-width: 30em;
    padding: 3em;
    border-radius: 10px;
}

dialog {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -140%);
    width: auto;
    text-align: center;
    max-width: 30em;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0.1px 0.1px 1px 1px #ecebeb;
    border: none;
    opacity: 0.8; 
    transition: opacity 0.5s ease;
    overflow: hidden;
}

dialog:hover, dialog:focus {
    opacity: 1.3;
}

.close-img{
    width: 25px;
    height: 25px;
    margin-left: 5em;
    cursor: pointer;
    max-width: 100%;
}

.buttons-share-icons button {
    display: flex;
    width: 100%; 
    height: 4em;
    background-color: #F86645;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin: 1em;
}

.buttons-share-icons button:hover{
    transform: scale(1.05);
}

.buttons-share-icons img{
    width: 35px;
    height: 35px;
    margin: 2em;
}

.buttons-share-icons h3{
    color: #ffffff;
    font-size: 1.7em;
    font-style: normal;
    margin-left: 1.9em;
    text-align: right;
}

/* Responsividade ambiente escolar */

@media screen and (max-width: 1800px) {
    .share-icon{
        display: none;
    }
    .search-box{
        display: none;
    }
}

@media screen and (min-width:1800px) {
    .share-button{
        display: none;
}
}
