
.list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.list_legend {
    margin-bottom: 10px;
    font-weight: 600;
}

.list li span {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}
