
#form {
    display: inline-block;
}

#fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    border: #D7D7D7;
    border-radius: 7px;
    background: #F6F6F6;
    width: 90vw;
    max-width: 451px;
    height: auto;
}

.field {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    color: #505050;
    font-weight: 600;
}

#email, #password {
    height: 44px;
    border-radius: 12px;
    border: 1px solid #D7D7D7;
    padding: 25px 15px;
    box-shadow: 1px 3px 5px #a7a7a7;
}

#email:focus, #password:focus {
    border: #a7a7a7;
}

input#password {
    padding: 25px 40px;
}

.field input#email, .field .group input#password {
    width: 100%;
}

::-ms-reveal {
    display: none;
}

.group {
    width: 100%;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.group span,
.group label {
    position: absolute;
    padding: 0 13px;
    color: #505050;
}

.group label input, .group span {
    position: absolute;
}

.group label {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 25px;
}

.group span.lock {
    align-self: flex-start;
}

.group input#checkbox__visibility___password {
    visibility: hidden;
}

.group label input#checkbox__visibility___password:checked ~ span.eye_closed {
    visibility: hidden;
}

#email::placeholder, #password::placeholder {
    color: #505050;
}

#button {
    visibility: hidden;
}
