
@media screen and (max-width: 598px){
    
    .group__field {
        max-width: 100% !important;
        justify-content: space-between;
        flex-wrap: nowrap !important;
    }
    
    .field--game_name {
        display: flex;
        gap: 7px;
        flex-wrap: wrap;
    }
    
    .field--performance, .arrow {
        display: none !important;
    }

    .hidden--score_performance {
        display: inline-block !important;
    }
}

@media screen and (max-width: 459px){

    .arrow--mobile {
        margin: 0 20px;
        color: white !important;
    }
}

@media screen and (max-width: 468px){
    
    #catalog_game_performance {
        padding: 20px 10px !important;
    }

    .group__field {
        flex-wrap: wrap !important;
    }

    .field {
        width: 100%;
    }

    .hidden--score_table {
        display: inline-block !important;
    }

    #head--table {
        display: none !important;
    }

    .item {
        display: flex !important;
        flex-direction: column;
        padding: 10px !important;
    }

    .item__game, .item__performance, .item__date {
        display: grid !important;     
        grid-template-columns: 120px auto;
        grid-template-rows: auto;
        margin-bottom: 5px;
    }

    .item__text {
        text-align: end !important;
    }
}

@media screen and (max-width: 388px){

    .row__group {
        min-width: 100% !important;
    }

    .arrow--mobile {
        display: none !important;
    }

    .field--game_name .group__text {
        margin-right: 10px;
    }
}
