

#form {
    display: inline-block;
    max-width: 1182px;
    width: 90vw;
}

#container {
    border: #D7D7D7;
    background: #F6F6F6;
    border-radius: 7px;
}

#file__pictury {
    display: none;
}

#fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    row-gap: 20px;
    column-gap: 20px;
    border-radius: 7px;
    max-width: inherit;
    height: auto;
}

.field {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 220px;
    max-width: 340px;
    gap: 20px;
    color: #505050;
    font-weight: 600;
}

.input {
    width: 100%;
    height: 44px;
    border-radius: 12px;
    border: 1px solid #D7D7D7;
    padding:  0 15px;
    box-shadow: 1px 3px 5px #a7a7a7;
}

::-ms-reveal {
    display: none;
}

.input:focus {
    border: 3px solid #F2D230;
    outline: none;
}

input#email {
    padding: 0 42px;
}

input::placeholder {
    color: #505050;
}
    
#group--cell_phone {
    width: 100%;
}

input#password, input#confirm_password {
    padding-left: 40px;
    padding-right: 40px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

#group--cell_phone {
    display: flex;
}

#group--cell_phone__icon {
    position: absolute;
    align-self: center;
    margin-left: 10px;
}

#group--cell_phone__icon span.expand__more {
    padding: 0;
}

#cell_phone {
    padding-left: 60px;
}

.group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.group span,
.group label {
    position: absolute;
    padding: 0 13px;
    color: #505050;
}

.group label,
.group span.expand__more {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group span.lock,
.group span.email {
    align-self: flex-start;
}

.group input#checkbox__visibility___password {
    visibility: hidden;
}

.group label input#checkbox__visibility___password:checked ~ span.eye_closed {
    visibility: hidden;
}

.group input#checkbox__visibility___confirm_password {
    visibility: hidden;
}

.group label input#checkbox__visibility___confirm_password:checked ~ span.eye_closed {
    visibility: hidden;
}

/* Inicio dos estilos do select */
.custom_select_selected {
    display: inline-block;
    cursor: hand;
    padding: 7px 2px 7px 7px;
}

.custom_select_selected img {
    height: 23px;
}
/* Fim */

#field--about {
    width: 100%;
    max-width: 740px;
    display: flex;
    gap: 30px;
    margin: 10px 0 50px 0;
    font-size:xx-large;
    align-self: flex-end;
}

#about {
    height: 194px;
    overflow: auto;
    padding: 10px;
}

#field--state {
    align-self: flex-start;
}

#button {
    display: none;
}
