
#formulario {
    display: inline-block;
    max-width: 1182px;
    width: 90vw;
}

#container {
    border: #D7D7D7;
    background: #F6F6F6;
    border-radius: 7px;
}

#file__pictury {
    display: none;
}

#formulario__fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    row-gap: 20px;
    column-gap: 20px;
    border-radius: 7px;
    max-width: inherit;
    height: auto;
}

.campo {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    max-width: 340px;
    gap: 20px;
    color: #505050;
    font-weight: 600;
}

#campo--grupo {
    width: 100%;
}

.campo__entrada {
    width: inherit;
    height: 44px;
    border-radius: 12px;
    border: 1px solid #D7D7D7;
    padding:  0 15px;
    box-shadow: 1px 3px 5px #a7a7a7;
}

::-ms-reveal {
    display: none;
}

.campo__entrada:focus {
    border: 3px solid #F2D230;
    outline: none;
}

input#email {
    padding: 0 42px;
}

input::placeholder {
    color: #505050;
}

input#senha, input#confirma_senha {
    padding-left: 40px;
    padding-right: 40px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

#campo--grupo {
    display: flex;
}

#campo--grupo__paises___icone {
    position: absolute;
    width: 65px;
    align-self: center;
    margin-left: 10px;
}

#campo--grupo__paises {
    border: none;
}

input#abre__menu--checkbox__paises:checked ~ .custom_select_options {
    display: block;
    top: -1;
}

#campo--grupo__paises___icone span.expand__more {
    padding: 0;
}

#celular {
    padding-left: 80px;
}

.grupo--icone__campo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grupo--icone__campo span,
.grupo--icone__campo label {
    position: absolute;
    padding: 0 13px;
    color: #505050;
}

.grupo--icone__campo label,
.grupo--icone__campo span.expand__more {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grupo--icone__campo span.cadeado,
.grupo--icone__campo span.email {
    align-self: flex-start;
}

.grupo--icone__campo input#checkbox__visibility___senha {
    visibility: hidden;
}

.grupo--icone__campo label input#checkbox__visibility___senha:checked ~ span.olho__fechado {
    visibility: hidden;
}

.grupo--icone__campo input#checkbox__visibility___confirma-senha {
    visibility: hidden;
}

.grupo--icone__campo label input#checkbox__visibility___confirma-senha:checked ~ span.olho__fechado {
    visibility: hidden;
}





/* CSS para teste simulação de select com imagens*/

/* Os estilos do select */
.custom_select_selected {
    display: inline-block;
    cursor: hand;
    padding: 7px 2px 7px 7px;
}

.custom_select_options {
    display: none;
    border: 1px solid #D7D7D7;
    color: #505050;
    width: auto;
    list-style: none;
    position:absolute;
    padding: 0 5px;
    background-color: #F6F6F6;
    box-shadow: 1px 2px 3px #D7D7D7;
}

.custom_select_options li {
    width: 100%;
}

.custom_select_options li img {
    height: 23px;
    margin: 5px 2px;
    display: block;
    border: 1px solid #797979;
}

.custom_select_options li img:hover {
    opacity: 0.7;
}

.custom_select {
    display: inline-block;
    z-index: 999;
}

.custom_select .custom_select_selected img {
    height: 23px;
}

#campo-sobre-voce {
    width: 100%;
    max-width: 740px;
    display: flex;
    gap: 30px;
    margin: 10px 0 50px 0;
    font-size:xx-large;
    align-self: flex-end;
}

#sobre__voce___textarea {
    height: 194px;
    overflow: auto;
}

#button {
    display: none;
}
