
@media screen and (max-width: 1230px) {
    
    #formulario__fieldset {
        margin: 0 auto;
        max-width: 800px;
    }

    #campo-nome {
        order: 1;
    }

    #campo-email {
        order: 2;
    }

    #campo-celular {
        order: 3;
    }

    #campo-atuacao {
        order: 4;
    }

    #campo-nascimento {
        order: 5;
    }

    #campo-genero {
        order: 6;
    }

    #campo-cep {
        order: 7;
    }

    #campo-endereco {
        order: 8;
    }

    #campo-cidae {
        order: 9;
    }

    #campo-estado {
        order: 10;
    }

    #campo-numero {
        order: 11;
    }

    #campo-senha {
        order: 12;
    }

    #campo-confirma-senha {
        order: 13;
    }

    #campo-sobre-voce {
        order: 14;
    }
}

@media screen and (max-width: 830px) {
    
    #formulario__fieldset {
        justify-content: center;
    }

    .campo {
        max-width: 500px;
    }
}

@media screen and (max-width: 600px) {
    #logo {
        display: none;
    }

    #imagem-perfil {
        align-self: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    #formulario__fieldset {
        padding: 10px;
    }
}
