@import url('rodape.css');
@import url('cabecalho.css');
@import url('menu_mobile.css');

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    height: 100vp;
    list-style: none;
}

h1,
h2 {
    padding: 10px 0px;
    color: #0BB3D9;
    text-align: center;
}

main {
    margin: 10px;
    flex: 1;
}

/* Estilos para a página de conteúdo */
.color-name {
    text-align: center;
    width: 100%;
    margin-top: 20px; /* Espaço entre o h2 e a cor */
}

.circles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 40px;
    align-self: center;
    max-width: 400px;
    margin: 0 auto;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: whitesmoke; /* Cor padrão dos círculos */
    display: inline-block;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}
  
  .correct-color {
    background-color: whitesmoke; /* Cor correta do círculo */
}
  
.button-container {
    display: flex;
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.button-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #E64A1E;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    border-radius: 10px;
    margin: 30px;
}

.btn:hover {
    background-color: #F86645;
}

#message {
    text-align: center;
    margin-top: 20px;
}
  

/* Estilos do rodapé */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0BB3D9;
    color: white;
    margin-bottom: 0px;
    flex-wrap: wrap;
    padding: 30px 5%;
    gap: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Responsividade atividades */

@media screen and (max-width: 768px) {
    h1, h2 {
        font-size: 1rem;
        padding: 5px 0px;
        color: #0BB3D9;
        text-align: center;
    }
    
    .circles-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        align-self: center;
        max-width: 300px;
        margin: 0 auto;
    }

    .circle {
        width: 60px;
        height: 60px;
        background-color: whitesmoke;
        display: inline-block;
        margin: 10px;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .correct-color {
        background-color: whitesmoke;
    }

    .button-container {
        display: flex;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        flex-direction: column;
    }
button
    .btn {
        font-size: 18px;
        padding: 10px 20px;
        background-color: #E64A1E;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-transform: uppercase;
        border-radius: 10px;
        margin: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 568px) {
    footer {
        padding: 20px 5%;
    }

    #nav-rodape ul {
        grid-template-columns: repeat(2, 1fr);
    }
}