@import url('rodape.css');
@import url('cabecalho.css');
@import url('menu_mobile.css');
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    height: 100vp;
}

h1,
h2 {
    padding: 10px 0px;
}

main {
    margin: 10px;
    flex: 1;
}

/* Estilos gerais do site */
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#nav-cabecalho {
    list-style: none;
    color: white;
    
}

.list-hader{
    display: inline;
}

/* Estilos para a página de conteúdo */
form {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 10px; 
    max-width: 500px;
    margin: 0 auto; 
}

.page-infomation {
    text-align: center;
}

.main-title, .not-main-title {
    margin: 0 auto;
    color: #0BB3D9;
}

.feedback-form {
    width: 80%; 
    max-width: 500px; 
    height: 500px;
    max-height: 80%;
    margin: 0 auto;
    padding: 20px; 
    text-align: left; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    background-color: #f9f9f9; 
    margin-top: 30px;
}

.experience{
    font-weight: bold; 
}

.satisfaction{
    margin-top: 15px;
}

.satisfaction span.selected {
    font-size: 45px; /* ou qualquer tamanho que desejar */
}


.satisfaction .material-symbols-outlined {
    font-size: 38px;
    margin-right: 10px;
}

.satisfaction span {
    cursor: pointer;
}

.message-area {
    display: grid;
    grid-template-rows: auto auto; 
    gap: 10px; 
    margin-top: 15px;
}

.message-area label {
    text-align: left; 
    font-weight: bold; 
}

.message-area textarea {
    width: 100%; 
    padding: 10px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    font-size: 16px;
    border-radius: 10px;
}

.buttons {
    text-align: center;
}

.buttons button {
    background-color: #E64A1E;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 25px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.buttons button:hover {
    background-color: #F86645;
    transform: scale(1.05);
}

.buttons button[type="reset"] {
    background-color: #E64A1E;
}

.buttons button[type="reset"]:hover {
    background-color: #F86645;
}

.feedback-form .buttons button {
    width: 150px;
    height: 40px;
}

.type-error {
    text-align: center; 
    margin-bottom: 5px;
}

.type-error span {
    margin: 0 40px; 
    font-weight: bold;
    font-size: 13px;
}

.feedback-form #sentiment_satisfied {
    color: #4CAF50; 
    cursor: pointer; 
    transition: transform 0.2s;
}

.feedback-form #sentiment_neutral {
    color: #FFC107; 
    cursor: pointer; 
    transition: transform 0.2s;
}

.feedback-form #sentiment_dissatisfied {
    color: #FF0000;
    cursor: pointer; 
    transition: transform 0.2s;
}

.feedback-form #sentiment_satisfied:hover , #sentiment_neutral:hover, #sentiment_dissatisfied:hover {
    transform: scale(1.2); 
}

/* Responsividade Feedback */

@media screen and (max-width: 1000px) {
    .feedback-form {
        width: 90%; /* Define a largura do formulário em telas menores */
        height: 100%;
        margin: 0 auto; /* Centraliza o formulário horizontalmente */
    }

    .message-area {
        text-align: left; /* Alinha o texto à esquerda dentro da message-area */
    }

    .type-error {
        text-align: left; /* Alinha o texto à esquerda dentro do type-error */
    }

    .buttons {
        text-align: center; 
        /* Estilos dos botões em telas menores */
        button {
            font-size: 14px;
            padding: 10px 20px; 
            width: 100px;
        }
    }

    .type-error {
        text-align: center;
        justify-content: space-around; /* Ajuste o espaçamento entre os elementos */
        margin-top: 10px; /* Reduza o espaço acima do grupo de elementos */
    }

    .type-error span {
        margin: 10px; /* Remova as margens internas (se houver) */
    }
}

.radio--sentiment:checked ~ .material-symbols-outlined {
    font-size: 50px;
}
