@import url('rodape.css');
@import url('cabecalho.css');
@import url('menu_mobile.css');


* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    height: 100vp;
}

h1,
h2 {
    padding: 20px 0px;
}

main {
    margin: 10px;
    flex: 1;
    display: flex;
    align-self: center;
}

/* Estilos gerais do site */
.site {
    display: flex;
    min-height: 100svh;
    flex-direction: column;
}

#nav-cabecalho {
    list-style: none;
    color: white;
    
}


li {
    display: inline;
}

.loupe-blue {
    align-items: center;
    margin: 0;
}

.search-box:hover > .search-text {
    width: 500px;
    padding-left: 20px;
}

.search-box:hover {
    border: 3px solid #0BB3D9;
}

/* Estilos para a seção "container" */
.container, .container2, .container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 90%;
    max-height: 350px;
    gap: 16px;
    margin-top: 150px;
}

.container h1,
.container2 h1,
.container3 h1 {
    text-align: center;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content {
    padding: 24px;
    flex-grow: 1;
    height: 30px;
    text-align: left;
}

.card {
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    width: 90%;
    flex-basis: 300px;
    padding: 2px;
    min-height: 550px;
    margin-right: 20px;
    transition: all 0.2s ease-in-out;
    border-radius: 10px 10px;
    max-width: 450px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content > p {
    font-size: 15px;
    line-height: 1.55;
    font-weight: 500;
    margin-top: 10px;
    padding: 24px;
}

.card-background {
    display: flex;
    height: 100px;
    transition: all 0.2s ease-in-out;
    text-align: center;
    padding: 5px;
    background-color: #F2D230;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.card-background .material-symbols-outlined{
    margin-right: 10px;
    font-size: 24px;
    color: white;
}

.card-background h1{
    margin: 0;
}

.material-symbols-outlined{
    color: white;
    
}

.card:hover .card-background {
    height: 80px;
}

.card-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover .action-bottom-bar a {
    opacity: 1;
}

/* Responsividade cads */

@media screen and (max-width: 1300px) {
    main {
        display: block;
    }

    .container, .container2, .container3 {
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
        margin-bottom: 250px;
        max-width: 100%;
    }

    .card {
        flex-grow: 0;
        margin-right: 0;
        flex-basis: 100%;
    }

    .card + .card {
        margin-top: 20px;
    }

    .action-bottom-bar a {
        display: flex;
        gap: 6px;
        color: var(--primary-color);
        text-decoration: none;
        font-weight: 800;
        opacity: 0;
        padding: 0 24px;
        transition: all 0.2s ease-in-out;
        color: #F86645;
        justify-content: center; /* Centralize horizontalmente */
        align-items: center; /* Centralize verticalmente */
    }

    footer{
        margin-top: auto;
    }
}

    
@media screen and (max-width: 450px) {

    .container2 .section .card .content,
    .container3 .section .card .content {
        height: auto;
    }

    .container2 .section .card,
    .container3 .section .card {
        min-height: auto;
    }

    .card {
        margin-top: 10px;
    }

    .content > p {
        font-size: 13px;
        line-height: 1.40;
        font-weight: 500;
        margin-top: 10px;
        padding: 18px;
    }
}
